<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pods-eseveno2016_Example.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-eseveno2016_Tests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>eseveno2016.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2EEC3553D8DB461E29328DA1BB5D5E10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>409A65FFCE900D2C98AD0C972E0FF4DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD4ABA051FCD46C849D03371FA3E9630</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
